# Description of the MIMIC III demo database

The repartition of the patient age is the following:

In [1]:
SELECT age AS val, COUNT(1) AS age from public.patient_info
GROUP BY age
ORDER BY val

val,age
17,1
20,1
27,1
28,1
29,1
36,1
41,3
44,3
45,1
49,3
51,1
52,1
53,1
54,3
55,4
58,1
62,3
63,1
64,5
65,6
66,5
67,3
69,5
70,3
71,3
72,1
73,5
74,1
76,4
77,6
78,4
79,2
80,2
81,7
82,6
83,7
84,1
85,2
86,5
87,6
88,5
89,2
300,9